html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body, .Page, .ui-panel-wrapper, .ui-content, #Map__container {
    height: 100%;
}

h2::first-letter {
    color: #156f0f;
}

.Panel__main-view {
    /* Overwrite padding from .ui-content */
    padding: 0 !important;
}

.Panel__toggle-btn, .Panel__mittelbay-logo {
    position: absolute;
    z-index: 1;
    height: 2em;
    margin: 1em;
}

.Panel__toggle-btn {
    top: 0;
    left: 0;
}

.Panel__mittelbay-logo {
    bottom: 0;
    left: 0;
}

.SearchPopup__submit {
    margin-right: 0;
}

/* Hide Google logo */
a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}
